body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* prevents overscrolling */
}

.UIElement {
    display: grid;
    overflow: hidden;
    position: relative; /* fixes element stacking (z-index) issues */
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.UIElement.Image {
    justify-self: stretch !important;
    align-self: stretch !important;
    width: initial !important;
    height: initial !important;
    min-width: initial !important;
    min-height: initial !important;
    max-width: initial !important;
    max-height: initial !important;
    background-repeat: no-repeat;
}

.UIElement.Image > img {
    min-width: 0;
    min-height: 0;
    visibility: hidden;
}

.UIElement.ScrollViewer[xamzor-zoommode="Enabled"] {
    -ms-content-zooming: zoom;
}

.UIElement.ScrollViewer[xamzor-scrollbarvisibility="Hidden"] {
    -ms-overflow-style: none;
}

.UIElement.ScrollViewer[xamzor-scrollbarvisibility="Hidden"]::-webkit-scrollbar {
    display: none;
}

.UIElement.ScrollViewer[xamzor-scrollbarvisibility="Auto"] {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.XButton {
    background: none;
    border: none;
    transition: transform .3s;
}

.XButton:hover {
    background-color: rgba(255, 255, 255, .078);
}

.XButton:active {
    background-color: rgba(255, 255, 255, .16);
    transform: scale(.98);
    transition: transform .1s;
}

.XButton:focus {
    outline: none;
}

.debug1 {
    outline: 4px solid red;
}

.debug2 {
    outline: 4px solid yellow;
}

.appload-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appload {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .15;
    background: linear-gradient(100deg, transparent 20%, white 50%, transparent 80%);
    animation: appload-animation 1800ms infinite linear;
}

@keyframes appload-animation {
    0% {
        transform: translate(-200%);
    }

    100% {
        transform: translate(200%);
    }
}

.ProgressRing > div {
    width: 88%;
    height: 88%;
    left: 6%;
    top: 6%;
    position: absolute;
    transform-origin: 50% 50%;
    opacity: 0;
}

.ProgressRing.active > div {
    animation: ProgressRing-animation 4.385s infinite linear;
}

.ProgressRing > div > div {
    position: absolute;
    width: 12%;
    height: 12%;
    left: 0%;
    top: 50%;
    border-radius: 50%;
    transform-origin: 50% 50%;
    transform: translate(-50%,-50%);
}

@keyframes ProgressRing-animation {

    0% { opacity: 1; transform: rotate(-110deg); }

    74.3% { opacity: 1; }
    74.5% { opacity: 0; }
    80.3% { opacity: 0; }

    10.0% { transform: rotate(10deg); }
    27.8% { transform: rotate(93deg); }
    37.4% { transform: rotate(205deg); }
    46.7% { transform: rotate(357deg); }
    64.4% { transform: rotate(439deg); }
    74.51% { transform: rotate(585deg); }
                
    100% { opacity: 0; transform: rotate(810deg); }
}

.ProgressRing > div:nth-child(2) { animation-delay: 167ms; }
.ProgressRing > div:nth-child(3) { animation-delay: 334ms; }
.ProgressRing > div:nth-child(4) { animation-delay: 501ms; }
.ProgressRing > div:nth-child(5) { animation-delay: 668ms; }
.ProgressRing > div:nth-child(6) { animation-delay: 835ms; }