@inherits UIElement

<div id="@Id" class="@CssClass" style="@LayoutCss">@ChildContent</div>

@functions{

    [Parameter] protected Thickness BorderThickness { get; set; } = Thickness.Zero;
    [Parameter] protected Thickness CornerRadius { get; set; } = Thickness.Zero;
    [Parameter] protected string Background { get; set; }
    [Parameter] protected string BorderBrush { get; set; }

    protected override void ComputeOwnLayoutCss(System.Text.StringBuilder sb)
    {
        base.ComputeOwnLayoutCss(sb);

        if (Background != null)
            sb.Append($"background-color: {Background}; ");

        if (BorderBrush != null)
            sb.Append($"border-color: {BorderBrush}; ");

        if (BorderThickness != Thickness.Zero)
            sb.Append($"border-width: {ThicknessToCss(BorderThickness)}; border-style: solid;");

        if (CornerRadius != Thickness.Zero)
            sb.Append($"border-radius: {ThicknessToCss(CornerRadius)}; ");
    }
}