@inherits UIElement

<div id="@Id" class="@CssClass" style="@CssStyle" ref="LayoutRoot">@ChildContent.SurroundWithParent(this)</div>

@functions{

    public static readonly PropertyKey BorderThicknessProperty = PropertyKey.Create<Thickness, Border>(nameof(BorderThickness));
    public static readonly PropertyKey CornerRadiusProperty = PropertyKey.Create<Thickness, Border>(nameof(CornerRadius));
    public static readonly PropertyKey BackgroundProperty = PropertyKey.Create<string, Border>(nameof(Background));
    public static readonly PropertyKey BorderBrushProperty = PropertyKey.Create<string, Border>(nameof(BorderBrush));

    [Parameter] protected Thickness BorderThickness { get => Properties.Get<Thickness>(BorderThicknessProperty); set => Properties.Set(BorderThicknessProperty, value); }
    [Parameter] protected Thickness CornerRadius { get => Properties.Get<Thickness>(CornerRadiusProperty); set => Properties.Set(CornerRadiusProperty, value); }
    [Parameter] protected string Background { get => Properties.Get<string>(BackgroundProperty); set => Properties.Set(BackgroundProperty, value); }
    [Parameter] protected string BorderBrush { get => Properties.Get<string>(BorderBrushProperty); set => Properties.Set(BorderBrushProperty, value); }

    protected override void ComputeCss(System.Text.StringBuilder sb)
    {
        base.ComputeCss(sb);

        if (Background != null)
            sb.Append($"background-color: {Background}; ");

        if (BorderBrush != null)
            sb.Append($"border-color: {BorderBrush}; ");

        if (BorderThickness != Thickness.Zero)
            sb.Append($"border-width: {Css.FromThickness(BorderThickness)}; border-style: solid;");

        if (CornerRadius != Thickness.Zero)
            sb.Append($"border-radius: {Css.FromThickness(CornerRadius)}; ");
    }

    protected override LayoutFunc ChildLayout =>
        SpecialLayouts.InsetWithoutOffset(BorderThickness, base.ChildLayout);
}