@inherits UIElement

<div id="@Id" class="@CssClass" style="@LayoutCss" ref="LayoutRoot">
    @ChildContent
</div>

@functions {

    public static readonly PropertyKey OrientationProperty = PropertyKey.Create<Orientation, FlipViewItemsPanel>(nameof(Orientation), Orientation.Horizontal);

    [Parameter]
    protected Orientation Orientation { get => Properties.Get<Orientation>(OrientationProperty); set => Properties.Set(OrientationProperty, value); }

    protected override void ComputeOwnLayoutCss(System.Text.StringBuilder sb)
    {
        base.ComputeOwnLayoutCss(sb);

        var isHorizontal = Orientation == Orientation.Horizontal;
        sb.Append($"overflow-{(isHorizontal ? "x" : "y")}: scroll; ");

        sb.Append($"scroll-snap-points-{(isHorizontal ? "x" : "y")}: repeat(100%); ");
        sb.Append($"-ms-scroll-snap-points-{(isHorizontal ? "x" : "y")}: snapInterval(0, 100%); ");
    }

    protected override LayoutFunc ChildLayout => Layouts.Stack(Orientation, 0, Children.OfType<UIElement>().Select(child => child.Layout));
}
