@inherits UIElement

<div id="@Id" class="@CssClass" style="@LayoutCss">
    @ChildContent
</div>

@functions {

    public Orientation Orientation { get; set; } = Orientation.Horizontal;

    protected override void ComputeOwnLayoutCss(System.Text.StringBuilder sb)
    {
        base.ComputeOwnLayoutCss(sb);

        var isHorizontal = Orientation == Orientation.Horizontal;
        sb.Append($"grid-auto-flow: {(isHorizontal ? "column" : "row")}; ");
        sb.Append($"grid-auto-{(isHorizontal ? "columns" : "rows")}: 100%; ");
        sb.Append($"overflow-{(isHorizontal ? "x" : "y")}: scroll; ");

        sb.Append($"scroll-snap-points-{(isHorizontal ? "x" : "y")}: repeat(100%); ");
        sb.Append($"-ms-scroll-snap-points-{(isHorizontal ? "x" : "y")}: snapInterval(0, 100%); ");
    }
}
