@inherits UIElement

<div id="@Id" class="@CssClass" style="@LayoutCss background-color: @Background;">
    @ChildContent
</div>

@functions{

    public static readonly PropertyKey RowProperty = PropertyKey.Create<int, Grid>(nameof(Row), 0);
    public static readonly PropertyKey ColumnProperty = PropertyKey.Create<int, Grid>(nameof(Column), 0);
    public static readonly PropertyKey RowSpanProperty = PropertyKey.Create<int, Grid>(nameof(RowSpan), 1);
    public static readonly PropertyKey ColumnSpanProperty = PropertyKey.Create<int, Grid>(nameof(ColumnSpan), 1);

    [Parameter] protected IReadOnlyList<RowDefinition> RowDefinitions { get; set; }
    [Parameter] protected IReadOnlyList<ColumnDefinition> ColumnDefinitions { get; set; }
    [Parameter] protected double RowSpacing { get; set; } = 0;
    [Parameter] protected double ColumnSpacing { get; set; } = 0;
    [Parameter] protected string Background { get; set; } = "transparent";

    protected override void ComputeOwnLayoutCss(System.Text.StringBuilder sb)
    {
        base.ComputeOwnLayoutCss(sb);

        if (RowDefinitions?.Count > 0)
        {
            sb.Append(
                "grid-template-rows: " +
                string.Join(" ", RowDefinitions.Select(def => GridLengthToCss(def.Height))) +
                "; ");
        }

        if (ColumnDefinitions?.Count > 0)
        {
            sb.Append(
                "grid-template-columns: " +
                string.Join(" ", ColumnDefinitions.Select(def => GridLengthToCss(def.Width))) +
                "; ");
        }

        if (RowSpacing != 0 || ColumnSpacing != 0)
        {
            sb.Append($"grid-gap: {RowSpacing}px {ColumnSpacing}px; ");
        }

        string GridLengthToCss(GridLength length)
        {
            switch (length.GridUnitType)
            {
                case GridUnitType.Auto: return "auto";
                case GridUnitType.Absolute: return length.Value + "px";
                case GridUnitType.Star: return length.Value + "fr";
                default: throw new NotImplementedException();
            }
        }
    }

    protected override void ComputeChildLayoutCss(System.Text.StringBuilder sb, UIElement child)
    {
        base.ComputeChildLayoutCss(sb, child);

        var row = child.Properties.Get<int>(RowProperty);
        var column = child.Properties.Get<int>(ColumnProperty);
        var rowSpan = child.Properties.Get<int>(RowSpanProperty);
        var columnSpan = child.Properties.Get<int>(ColumnSpanProperty);

        sb.Append($"grid-area: {row + 1} / {column + 1} / span {rowSpan} / span {columnSpan}; ");
    }
}