@inherits UIElement

<div id="@Id" class="@CssClass @(IsActive ? "active" : "")" style="@LayoutCss">
    @for (var i = 0; i < 6; i++)
    {
        <div><div style="background-color: @Foreground"></div></div>
    }
</div>

@functions{

    public bool IsActive { get; set; }

    public string Foreground { get; set; } = "mediumturquoise";

    public ProgressRing()
    {
        MinWidth = MinHeight = 40;
    }

    protected override void ComputeOwnLayoutCss(System.Text.StringBuilder sb)
    {
        base.ComputeOwnLayoutCss(sb);
    }
}