@inherits UIElement

<div id="@Id" class="@CssClass @(IsActive ? "active" : "")" style="@LayoutCss">
    @for (var i = 0; i < 6; i++)
    {
        <div><div style="background-color: @Foreground"></div></div>
    }
</div>

@functions{

    public static readonly PropertyKey IsActiveProperty = PropertyKey.Create<bool, ProgressRing>(nameof(IsActive));

    [Parameter]
    protected bool IsActive
    {
        get => Properties.Get<bool>(IsActiveProperty);
        set => Properties.Set(IsActiveProperty, value);
    }

    public string Foreground { get; set; } = "mediumturquoise";

    public ProgressRing()
    {
        MinWidth = MinHeight = 40;
    }

    protected override void ComputeOwnLayoutCss(System.Text.StringBuilder sb)
    {
        base.ComputeOwnLayoutCss(sb);
    }
}