@inherits UIElement

<div id="@Id" class="@CssClass" style="@CssStyle" ref="LayoutRoot">
    @for (var i = 0; i < 6; i++)
    {
        <div><div style="background-color: @Foreground"></div></div>
    }
</div>

@functions{

    public static readonly PropertyKey IsActiveProperty = PropertyKey.Create<bool, ProgressRing>(nameof(IsActive));

    protected override string CssClass => base.CssClass + (IsActive? " active" : "");

    [Parameter]
    protected bool IsActive
    {
        get => Properties.Get<bool>(IsActiveProperty);
        set => Properties.Set(IsActiveProperty, value);
    }

    [Parameter]
    protected string Foreground { get; set; } = "mediumturquoise";

    public ProgressRing()
    {
        MinWidth = MinHeight = 40;
    }

    protected override void ComputeCss(System.Text.StringBuilder sb)
    {
        base.ComputeCss(sb);
    }
}