@inherits ContentControl

<!--
    TODO: We really want to use <button> here but "max-height" is zero inside buttons in Firefox
-->
<div id="@Id" class="@CssClass" style="@LayoutCss" role="button" tabindex="0"
     onclick="@((Action<UIMouseEventArgs>)OnClicked)">
    <!--
        'button' seems to somehow stretch its child content, even if child content wants to
        align left/right/center. Another 'div' in between fixes this.
    -->
    <div style="display: grid">
        @ActualContent
    </div>
</div>

@functions{

    public static readonly PropertyKey ClickedProperty = PropertyKey.Create<EventHandler<UIMouseEventArgs>, XButton>(nameof(Clicked));

    // This is a property because adding handlers to events via tag helpers doesn't seem to be supported yet
    [Parameter] protected EventHandler<UIMouseEventArgs> Clicked { get; set; }

    private void OnClicked(UIMouseEventArgs e) => Clicked?.Invoke(this, e);

    protected override bool OverridesContainer => true;

    public XButton()
    {
        Padding = new Thickness(12, 8);
    }

    protected override void ComputeOwnLayoutCss(System.Text.StringBuilder sb)
    {
        base.ComputeOwnLayoutCss(sb);
        sb.Append("text-align: left; ");
    }
}