@inherits DataTemplate

<div id="@Id" class="@CssClass" style="@LayoutCss" ref="LayoutRoot">

    <TextBlock Parent="this">
        Watch <a href="https://github.com/SvenEV/Xamzor">Xamzor on GitHub</a> for updates.
    </TextBlock>

</div>