@inherits DataTemplate

<div id="@Id" class="@CssClass" style="@CssStyle" ref="LayoutRoot">
    
    <Grid Parent="this" ColumnDefinitions="@Columns("Auto", "*")">

        <StackPanel Parent="PARENT" Tag="LayoutControllerStack">
            <LayoutController Parent="PARENT" Update="StateHasChanged" Title="StackPanel" Ref="_stack"
                              ShowOrientation="true"
                              Tag="LayoutController1"/>

            <LayoutController Parent="PARENT" Update="StateHasChanged" Title="Red Box" Ref="_box1" Tag="LayoutController2" />
            <LayoutController Parent="PARENT" Update="StateHasChanged" Title="Yellow Box" Ref="_box2" Tag="LayoutController3" />
            <LayoutController Parent="PARENT" Update="StateHasChanged" Title="Green Box" Ref="_box3" Tag="LayoutController4" />
        </StackPanel>

        <Border Parent="PARENT"
                Column="1"
                BorderBrush="black"
                BorderThickness="T(2)"
                Tag="StackPanelContainer">

            <StackPanel Parent="PARENT" Orientation="_stack.TheOrientation"
                        HorizontalAlignment="_stack.TheHorizontalAlignment"
                        VerticalAlignment="_stack.TheVerticalAlignment"
                        Tag="TheStackPanel">

                <Border Parent="PARENT"
                        Background="red"
                        MinWidth="100.0" MinHeight="100.0"
                        HorizontalAlignment="_box1.TheHorizontalAlignment"
                        VerticalAlignment="_box1.TheVerticalAlignment" />

                <Border Parent="PARENT"
                        Background="yellow"
                        MinWidth="150.0" MinHeight="50.0"
                        HorizontalAlignment="_box2.TheHorizontalAlignment"
                        VerticalAlignment="_box2.TheVerticalAlignment" />

                <Border Parent="PARENT"
                        Background="green"
                        MinWidth="50.0" MinHeight="150.0"
                        HorizontalAlignment="_box3.TheHorizontalAlignment"
                        VerticalAlignment="_box3.TheVerticalAlignment" />

            </StackPanel>
        </Border>

    </Grid>

</div>

@functions{
    private LayoutController _stack;
    private LayoutController _box1;
    private LayoutController _box2;
    private LayoutController _box3;
}
