@page "/"

<div style="position: absolute; width: 100%; height: 100%; display: grid;">

    <Grid Parent="PARENT" RowDefinitions="@Rows("Auto", "*")"
          Background="#eee">

        <Border Parent="PARENT" Background="@ThemeColor" Padding="T(24,12)" Row="0">
            <TextBlock Parent="PARENT"
                       Text="Xamzor Demo App"
                       Foreground="white"
                       FontSize="32" />
        </Border>

        @*<TextBlock Parent="PARENT" Row="1"
            HorizontalAlignment="Center"
            VerticalAlignment="Center"
            Text="Demo content coming soon." />*@

        <FlipView Parent="PARENT" Items="@Demos" Row="1"
                  ItemTemplate="typeof(DemoPresenter)"/>

    </Grid>

</div>

@functions {
    public const string ThemeColor = "#7014e8";

    private static ComponentGalleryItem[] Demos = new[]
    {
        new ComponentGalleryItem
        {
            Title = "StackPanel",
            View = typeof(StackPanelDemo)
        },
        new ComponentGalleryItem
        {
            Title = "That's it for now!",
            View = typeof(MoreComingSoon)
        }
    };

    public class ComponentGalleryItem
    {
        public string Title { get; set; }
        public Type View { get; set; }
    }
}